@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:wght@400;700&display=swap');
@import './variables.css';

body {
  font-family: var(--font-family);
  background-color: var(--bg-color);
  color: var(--text-color);
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  font-size: var(--font-size-normal);
}

#root {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.app-container {
  background-color: var(--panel-bg);
  box-shadow: var(--box-shadow);
  border: 2px solid var(--border-color);
  width: var(--app-width);
  height: var(--app-height);
  display: flex;
  flex-direction: column;
}
